{% extends 'base.html' %}

{% block content %}
  <style>
    h1 {
      text-align: center;
      margin-bottom: 20px;
    }

    .table-container {
      max-width: 1500px;
      margin: 0 auto;
      background-color: white;
      padding: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      padding: 20px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #f4f4f4;
    }
  </style>
</head>
<body>
  <div class="table-container">
    <h1>Student Details</h1>
    <table>
      <tr>
        <th>Username</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Mobile Number</th>
        <th>Branch</th>
      </tr>
      {% for student in students %}
      <tr>
        <td>{{ student.username }}</td>
        <td>{{ student.full_name }}</td>
        <td>{{ student.email}}</td>
        <td>{{ student.mobile_number }}</td>
        <td>{{ student.branch }}</td>
      </tr>
      {% endfor %}
    </table>
    {% if not students %}
    <p>No students Registered.</p>
    {% endif %}
  </div>
  {% endblock %}
